<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shixi_a.myapplication">

    <!-- 网络连接请求 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- iBeancon功能所需权限 -->;
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="getui.permission.GetuiService.com.example.shixi_a.myapplication"/>


    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->



    <application
        android:name=".GlobalApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".service.DemoPushService"
            android:permission="123456"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
        </service>

        <service android:name=".service.DemoIntentService">

        </service>

        <activity android:name=".login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.MainActivity" android:launchMode="singleTask"/>
        <activity android:name=".home.work.workTask.tasks.TasksActivity" />
        <activity android:name=".home.work.workTask.taskAddEdit.TaskAddEditActivity" />
        <activity android:name=".home.work.workTask.projects.ProjectsActivity" />
        <activity android:name=".home.work.workTask.projectAddEdit.ProjectAddEditActivity" />
        <activity android:name=".home.work.workTask.classify.ClassifysActivity" />
        <activity android:name=".home.work.workTask.classifyAddEdit.ClassifyAddEditActivity" />
        <activity android:name=".home.work.workTask.process.ProcessActivity"/>
        <activity android:name=".home.work.workTask.processAddEdit.ProcessAddEditActivity"/>
        <activity android:name=".home.work.workTask.processDetail.ProcessDetailActivity"/>
        <activity android:name=".home.work.workTask.contacts.ContactsActivity"/>
        <activity android:name=".home.work.workTask.taskDetail.TaskDetailActivity"/>
        <activity android:name=".home.work.workTask.tempoUpdate.TempoUpdateActivity"/>
        <activity android:name=".home.work.workTask.score.ScoreActivity"/>
        <activity android:name=".home.my.clock.ClockActivity"/>
        <activity android:name=".home.my.attendance.AttendanceActivity"/>
        <activity android:name=".home.my.record.RecordActivity"/>
        <activity android:name=".home.work.workAdministration.AdministrationActivity"/>
        <activity android:name=".home.work.workAdministration.egress.EgressActivity"/>
        <activity android:name=".home.work.workAdministration.applyout.ApplyOutActivity"/>
        <activity android:name=".home.work.workAdministration.checkOut.CheckOutActivity"/>
        <activity android:name=".home.work.workTask.milestone.MileStoneActivity"/>
        <activity android:name=".home.work.workAdministration.egressDetail.EgressDetailActivity"/>
        <activity android:name=".home.work.workAdministration.leave.LeaveActivity"/>
        <activity android:windowSoftInputMode="adjustPan|stateHidden" android:name=".home.work.workAdministration.applyleave.ApplyLeaveActivity"/>
        <activity android:name=".home.work.workAdministration.leaveDetail.LeaveDetailActivity"/>
        <activity android:name=".home.work.workAdministration.leaveType.LeaveTypeActivity"/>
        <activity android:name=".home.work.workAdministration.leaveLogs.LeaveLogsActivity"/>
        <activity android:name=".home.work.workAdministration.linkMan.LinkManActivity"/>
        <activity android:name=".home.work.workAdministration.reimbursement.ReimbursementActivity"/>
        <activity android:name=".home.work.workAdministration.reimburseType.ReimburseTypeActivity"/>
        <activity android:windowSoftInputMode="adjustPan|stateHidden" android:name=".home.work.workAdministration.normalReimburse.NormalReimburseActivity"/>
        <activity android:name=".home.work.workAdministration.normalReimburseDetail.NormalReimburseDetailActivity"/>
        <activity android:name=".home.work.workAdministration.chooseEgress.ChooseEgressActivity"/>
        <activity android:windowSoftInputMode="adjustPan|stateHidden" android:name=".home.work.workAdministration.trafficReimburse.TrafficReimburseActivity"/>
        <activity android:name=".home.work.workAdministration.trafficTool.TrafficToolActivity"/>
        <activity android:name=".home.work.workAdministration.reimburseLog.ReimburseLogActivity"/>
        <activity android:name=".home.work.workAdministration.trafficReimburseDetail.TrafficReimburseDetailActivity"/>
        <activity android:windowSoftInputMode="adjustPan|stateHidden" android:name=".home.work.workAdministration.tripReimburse.TripReimburseActivity"/>
        <activity android:windowSoftInputMode="adjustPan|stateHidden" android:name=".home.work.workAdministration.entertainmentReimburse.EntertainmentReimburseActivity"/>
        <activity android:name=".home.work.workAdministration.entertainmentReimburseDetail.EntertainmentReimburseDetailActivity"/>
        <activity android:name=".home.work.workAdministration.tripReimburseDetail.TripReimburseDetailActivity"/>
        <activity android:windowSoftInputMode="adjustPan|stateHidden" android:name=".home.work.workAdministration.financeAudit.FinanceAuditActivity"/>
        <activity android:name=".home.work.workAdministration.financeType.FinanceTypeActivity"/>
        <activity android:name=".home.work.workAdministration.financeDetail.FinanceDetailActivity"/>
        <activity android:windowSoftInputMode="adjustPan|stateHidden" android:name=".home.work.workAdministration.cashierAudit.CashierAuditActivity"/>
        <activity android:name=".home.work.workAdministration.payment.PaymentActivity"/>
        <activity android:name=".home.message.scan.MyCaptureActivity"/>
        <activity android:name=".home.my.myInfo.MyInfoActivity"/>
        <activity android:name=".home.contacts.userInfo.UserInfoActivity"/>
        <activity android:name=".home.my.attendance.leaveList.LeaveListActivity"/>
    </application>

</manifest>